
:root{
    --main_font: font-family: 'Manrope', sans-serif;
    --version_font: font-family: 'Roboto', sans-serif;
    --version_font_weight: font-weight: 600;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer h4 a{
    text-decoration: none;
}

footer h4 span img{
    max-width: 20px;
    max-height: 20px;
}